# Ignore node_modules
node_modules/

# Ignore build output
dist/

package-lock.json

# Ignore environment variables
.env
.env.local
.env.development
.env.production

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug logs
npm-debug.log*

# Ignore dependency caches
.cache/
.temp/

# Ignore TypeScript build output
*.tsbuildinfo